<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.EmpMapper">

	<select id="selectEmp" resultType="emp">
		select * from employees
	</select>
	<insert id="insertEmp" parameterType="emp">
		insert into employees
		(employee_id,first_name,last_name,email,hire_date,job_id)
		values(#{employeeID},#{firstName},#{lastName},#{email},sysdate,#{jobId})
	</insert>
	<delete id="deleteEmp" parameterType="int">
		delete from employees
		where employee_id = #{employeeID}
	</delete>
	<select id="getEmployee" resultType="emp"  parameterType="int">
		select* from employees where employee_id = #{employeeId}
	</select>
</mapper>